@font-face {
	font-family: 'Helvetica';
	src:url('font/helveticaneuecyr-regular.otf');
	font-weight: normal;
}
@font-face {
	font-family: 'Helvetica';
	src:url('font/helveticaneuecyr-bold.otf');
	font-weight: bold;
}
body {
	font-family: Helvetica;
	color:#282828;
	height: 100vh;
	position: relative;
	min-height: 320px;
}
header {
	height: 10%;
	margin: 0 50px;
}
.wrapper {
	height: 80%;
}
.content {
	margin: 0;
	height: 60%;
	position: relative;
	margin: 0 50px;
}
.banner {
	height: 40%;
	position: relative;
}
footer {
	text-align: center;
	width: 100%;
	bottom: 0;
	position: fixed;
	padding: 5px 0px;
}
footer p {
	margin: 0;
	padding: 0;
	font-size: 1.5vh;
}

.navbar-default {
	background: #fff;
	z-index: 100;
}
.navbar-default .navbar-brand {
	font-size: 20px;
	font-weight: bold;
	color:#282828;
}
.navbar-default .navbar-brand span {
	font-size: 12px;
	font-weight: normal;
	color:#616161;
	vertical-align: middle;
}
.navbar {
	border-radius:0;
	border:none;
	border-bottom: 1px solid #1b2039;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
	border-bottom: 3px solid #ffd200;
}
.navbar-right>li>a {
	margin: 15px 10px 14px 10px;
	padding: 0;
}
.navbar-nav.navbar-right>li>a:focus, .navbar-nav.navbar-right>li>a:hover {
	border:none;
	background: #ffd200;
}
.navbar-brand {
	height: 53px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	background: none;
	color: #ffd200;
}
.content h1 {
	font-size: 4vh;
	font-weight: bold;
	margin: 0;
	padding-bottom: 50px;
}
.content p {
	width:70%;
	font-size: 2vh;
	font-weight: normal;
	text-align: left;
	margin: 0;
	padding-bottom: 30px;
}
.banner h3{
	font-size: 24px;
	font-weight: normal;
	margin: 0;
	position: absolute;
	bottom: 0;
	padding-bottom: 30px;
	padding-left: 80px;
}
.banner h3 span {
	font-weight: bold;
}
.banner {
	background: url(img/bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  display: block;
}





