@font-face {
  font-family: 'OpenSans';
  src: url(../fonts/OpenSans-Semibold.ttf);
  font-weight: 600; }
@font-face {
  font-family: 'OpenSans';
  src: url(../fonts/OpenSans-Regular.ttf);
  font-weight: 400; }
@font-face {
  font-family: 'Museo';
  src: url(../fonts/Museo300.otf);
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Museo';
  src: url(../fonts/MuseoItalic300.ttf);
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: 'Museo';
  src: url(../fonts/Museo500.ttf);
  font-weight: 500; }
@font-face {
  font-family: 'Museo';
  src: url(../fonts/Museo700.otf);
  font-weight: 700; }
button.custom-btn {
  background-color: #f169b3;
  border-radius: 25px;
  color: #fff;
  padding: 10px 30px;
  font-family: Museo;
  font-weight: 500;
  border: none; }

button.custom-btn:hover {
  color: #7f1a51; }

h2.block-title {
  color: #a75983;
  font-family: Museo;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  margin-top: 100px;
  margin-bottom: 60px; }

:focus {
  outline: none !important; }

header .container {
  position: relative; }
header .navbar-default {
  background: none;
  border: none;
  position: absolute; }
  header .navbar-default .navbar-nav > li > a {
    color: #fff;
    font-family: OpenSans;
    font-size: 15px;
    padding-top: 17px;
    font-weight: 600; }
  header .navbar-default .navbar-nav > li:first-child > a {
    padding-left: 0; }
  header .navbar-default .navbar-nav > li:last-child > a {
    padding-right: 0px; }
  header .navbar-default .navbar-nav.navbar-right {
    margin-left: 0; }
  header .navbar-default .navbar-nav.navbar-right > li > a {
    font-weight: 400;
    text-decoration: underline;
    color: #7f1a51; }
    header .navbar-default .navbar-nav.navbar-right > li > a:hover {
      text-decoration: none; }
  header .navbar-default .navbar-nav > .active > a,
  header .navbar-default .navbar-nav > .active > a:focus,
  header .navbar-default .navbar-nav > .active > a:hover {
    background: none;
    text-decoration: underline;
    color: #fff; }
header li.phone {
  font-family: Museo;
  font-weight: 300;
  font-style: normal;
  font-size: 26px;
  color: #fff;
  padding-top: 10px; }
  header li.phone img {
    margin-right: 10px;
    transition: all 0.3s ease; }
  header li.phone:hover img {
    transform: rotate(10deg); }

.container {
  padding: 0px 75px; }

#first-screen {
  background-color: #cdb6c2;
  background-image: url(../img/first-screen.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  height: 840px;
  display: block;
  padding-top: 205px; }
  #first-screen h1 {
    font-family: Museo;
    font-weight: 500;
    font-size: 35px;
    color: #4e4e4e;
    margin-top: 0;
    margin-bottom: 40px; }
  #first-screen p {
    font-family: OpenSans;
    font-weight: 400;
    color: #a75983;
    font-size: 18px;
    line-height: 30px; }
  #first-screen ul {
    list-style: none;
    margin-top: 80px;
    padding: 0; }
    #first-screen ul li {
      font-family: OpenSans;
      font-weight: 600;
      color: #574e34;
      font-size: 16px;
      padding-bottom: 35px; }
    #first-screen ul li:before {
      content: '';
      display: block;
      height: 30px;
      width: 30px;
      background: url(../img/point.png);
      float: left;
      margin-top: -5px;
      margin-right: 10px; }
  #first-screen .special-block {
    margin-top: 140px;
    float: right;
    display: block;
    width: 340px;
    background: #fff;
    background: rgba(255, 255, 255, 0.82);
    border-radius: 6px;
    box-shadow: 0 0 52px rgba(0, 0, 0, 0.08);
    padding: 20px; }
    #first-screen .special-block .special-block-inner {
      border: 2px dotted #e563b6;
      border-radius: 4px;
      padding: 36px; }
      #first-screen .special-block .special-block-inner p {
        font-family: OpenSans;
        font-weight: 600;
        color: #262625;
        font-size: 15px;
        line-height: 20px; }
        #first-screen .special-block .special-block-inner p span {
          font-family: Museo;
          font-weight: 700;
          color: #f169b3;
          font-size: 35px; }

#second-screen {
  background-color: #f6efeb;
  background-image: url(../img/second-screen.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  height: 720px;
  display: block;
  padding: 100px 0px; }
  #second-screen h2 {
    font-family: Museo;
    font-weight: 700;
    font-size: 25px;
    color: #a75983;
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 45px; }
  #second-screen .special-designer {
    float: right;
    display: inline-block;
    margin-top: -105px; }
    #second-screen .special-designer .special-designer-block {
      display: block;
      background: #fff;
      border-radius: 4px;
      padding: 20px;
      position: relative;
      width: 240px;
      margin-bottom: 105px; }
      #second-screen .special-designer .special-designer-block p {
        font-family: Museo;
        font-weight: 300;
        color: #6d6243;
        font-size: 15px; }
        #second-screen .special-designer .special-designer-block p a {
          margin-top: 20px;
          color: #a75983;
          text-decoration: underline; }
          #second-screen .special-designer .special-designer-block p a:hover {
            text-decoration: none; }
      #second-screen .special-designer .special-designer-block img {
        position: absolute;
        bottom: -20px;
        right: auto;
        left: 50px;
        transform: scale(-1, 1); }
    #second-screen .special-designer:nth-child(2) {
      float: left;
      margin-top: 0px; }
      #second-screen .special-designer:nth-child(2) .special-designer-block {
        width: 200px;
        margin-bottom: 65px; }
        #second-screen .special-designer:nth-child(2) .special-designer-block > img {
          position: absolute;
          bottom: -20px;
          right: 50px;
          left: auto;
          transform: scale(1, 1); }
    #second-screen .special-designer .special-designer-name {
      text-align: right;
      margin-bottom: 25px; }
      #second-screen .special-designer .special-designer-name img {
        margin-right: 70px;
        margin-left: 0;
        margin-bottom: 10px;
        transform: scale(-1, 1); }
      #second-screen .special-designer .special-designer-name p {
        font-family: OpenSans;
        font-size: 14px;
        font-weight: 400;
        color: #6d6243;
        line-height: 10px; }
        #second-screen .special-designer .special-designer-name p b {
          font-family: Museo;
          font-weight: 700;
          font-size: 16px;
          color: #4e4e4e; }
    #second-screen .special-designer:nth-child(2) .special-designer-name {
      text-align: left; }
      #second-screen .special-designer:nth-child(2) .special-designer-name img {
        margin-right: 0px;
        margin-left: 90px;
        transform: scale(1, 1); }

#third-screen {
  overflow: hidden;
  height: 600px; }
  #third-screen .gallery {
    height: 400px; }
    #third-screen .gallery .gallery-image {
      height: 400px;
      width: 100%;
      position: relative;
      overflow: hidden;
      display: block;
      border-radius: 4px; }
      #third-screen .gallery .gallery-image img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%; }
    #third-screen .gallery .gallery-desc {
      height: 400px;
      position: relative; }
      #third-screen .gallery .gallery-desc p {
        font-family: Museo;
        font-weight: 300;
        font-size: 15px;
        line-height: 20px;
        color: #6d6243; }
        #third-screen .gallery .gallery-desc p b {
          font-weight: 700;
          color: #4e4e4e; }
        #third-screen .gallery .gallery-desc p a {
          color: #a75983;
          text-decoration: underline; }
          #third-screen .gallery .gallery-desc p a:hover {
            text-decoration: none; }
      #third-screen .gallery .gallery-desc .special .special-block {
        border: 1px dashed #f169b3;
        border-radius: 4px;
        padding: 18px 20px; }
      #third-screen .gallery .gallery-desc .special p b {
        color: #f169b3; }
  #third-screen .owl-carousel .owl-controls {
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 0; }
    #third-screen .owl-carousel .owl-controls button.custom-btn {
      /*width: 240px;*/ }
  #third-screen .owl-carousel .owl-stage-outer {
    overflow: visible; }
    #third-screen .owl-carousel .owl-stage-outer .owl-stage {
      height: 400px; }
  #third-screen .owl-carousel .owl-item {
    margin: 0px 10px;
    opacity: 0.5; }
    #third-screen .owl-carousel .owl-item.active {
      opacity: 1; }

#fourth-screen, #six-screen {
  background-color: #f2f2f2;
  background-image: url(../img/fourth-screen.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  height: 810px;
  display: block;
  margin-top: 100px;
  padding-bottom: 70px; }
  #fourth-screen img, #six-screen img {
    border-radius: 4px; }
  #fourth-screen p, #six-screen p {
    color: #4e4e4e;
    font-family: OpenSans;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    padding-top: 17px;
    padding-bottom: 30px; }

#fifth-screen {
  color: #4e4e4e;
  font-family: OpenSans;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px; }
  #fifth-screen img {
    min-width: 100%;
    margin-bottom: 40px; }

#six-screen {
  background-color: #f8f2ee;
  background-image: none;
  height: 100%;
  padding-bottom: 80px; }
  #six-screen img {
    border: 4px solid white; }

#seven-screen, #eight-screen {
  background-color: #f8f2ee;
  background-image: url(../img/seven-screen.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  height: 490px;
  display: block; }
  #seven-screen h2, #eight-screen h2 {
    color: #a75983;
    font-family: Museo;
    font-size: 25px;
    line-height: 30px;
    font-weight: 700;
    margin-top: 100px;
    margin-bottom: 70px; }
  #seven-screen p, #eight-screen p {
    font-family: OpenSans;
    font-size: 15px;
    font-weight: 400;
    color: #4e4e4e;
    line-height: 30px;
    margin-bottom: 0; }
    #seven-screen p b, #eight-screen p b {
      font-family: Museo;
      font-weight: 500;
      font-size: 20px; }
  #seven-screen button, #eight-screen button {
    margin-top: 70px; }

#eight-screen {
  background-color: #fff;
  background-image: url(../img/eight-screen.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  height: 470px; }

#map {
  position: relative; }
  #map .special-block {
    display: block;
    width: 340px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -95px;
    margin-left: -170px;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.91);
    border-radius: 6px;
    box-shadow: 0 0 52px rgba(0, 0, 0, 0.08);
    padding: 20px; }
    #map .special-block .special-block-inner {
      padding: 40px 33px;
      border: 1px dashed #f169b3;
      font-family: Museo;
      font-weight: 700;
      font-size: 20px;
      color: #4e4e4e; }
  #map:hover .special-block {
    display: none; }

footer {
  padding: 70px 0px; }
  footer p.copyright {
    color: #7c2f59;
    font-family: Museo;
    font-weight: 300;
    font-size: 17px; }
  footer a {
    color: #8f8282;
    font-family: OpenSans;
    font-size: 14px;
    font-weight: 400;
    text-decoration: underline; }
    footer a:hover {
      text-decoration: none;
      color: #8f8282; }

.remodal {
  max-width: 400px;
  padding-top: 10px; }
  .remodal p.success {
    font-family: Museo;
    font-weight: 400;
    margin-top: 30px;
    color: #a75983;
    font-size: 20px;
  }
  .remodal .form-group {
    text-align: left;
    color: #a75983; }
    .remodal .form-group h4 {
      color: #a75983;
      font-family: Museo;
      font-weight: 700;
      font-size: 20px;
      text-align: center; }

/*# sourceMappingURL=style.css.map */
