/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.persona {
		width: 160px;
	}
}
/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
	body {
		min-height: auto;
	}
	.persona {
    width: 210px;
}
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 500px) {
	h1 {
		font-size: 28px;
		margin-top: 10px;
		margin-bottom: 13px;
		letter-spacing: 2px;
	}
	#content {
		position: relative;
		top: 0px;
		margin-top: 0px;
	}
	.persona {
		width: 100%;
	}
	.persona img {
		width: 210px;
	}
	.persona h2 {
		margin-top: 13px;
	}
}
@media only screen and (max-height : 500px) and (orientation : landscape) {
	h1 {
		margin: 0;
		margin-top: 126px;
		font-size: 30px;
	}
	.persona {
		margin: 0px;
		width: 100%;
	}
	.owl-carousel .owl-item img {
		width: 170px;
		margin: 0px 20px;
	}
	.persona img {
		float: left;
	}
	.persona h2 {
		margin: 0;
		padding-top: 50px;
		font-size: 20px;
	}
	.persona span {
		font-size: 15px;
	}
	.persona p {
		font-size: 16px;
	}
}