
/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
	.block {
		width: 361px;
		height: 191px;
		margin-left: -180px;
    margin-top: -151px;
	}
	.block img {
		width: 34px;
		padding-left:50px;
	}
	.block p {
  font-size: 13px;
  margin: 15px 30px;
  margin-bottom: 8px;
 	}
 	.block h3 {
  font-size: 13px;
 	}
 	.button {
 		width: 189px;
 		height: 44px;
 		margin: 5px 86px 0 86px;
 	}
 	.button h4 {
 		font-size: 16px;
 		padding-top: 10px;
 	}
 	.footer {
 		font-size: 7px;
 	}
}
@media only screen and (max-height : 400px) {
	.wrapper {
		min-height:320px;
	}
	.block {
		margin-top: -75px;
	}
}
/* Small Devices, Tablets */
@media only screen and (min-width : 600px) and (min-height: 750px) {
	.block {
		width: 600px;
		height: 544px;
		margin-left: -300px;
    margin-top: -272px;
	}
	.block img {
		width: 94px;
	}
	.block p {
  font-size: 28px;
  margin: 46px 60px;
  margin-bottom: 30px;
 	}
 	.block h3 {
  font-size: 36px;
 	}
 	.button {
 		width: 482px;
 		height: 156px;
 		margin: 10px 60px 0 60px;
 	}
 	.button h4 {
 		font-size: 54px;
 		padding-top: 40px;
 	}
 	.footer {
 		font-size: 14px;
 	}
}
/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) and (min-height: 620px){
	.link img{
		width: 30px;
		padding-right: 14px;
	}
	.link {
		font-size: 16px;
		padding: 20px 0;
	}
	.block {
		width: 600px;
		height: 400px;
		margin-left: -300px;
    margin-top: -200px;
	}
	.block img {
		width: 67px;
		padding-left:70px;
	}
	.block p {
  font-size: 20px;
  margin: 35px 60px;
  margin-bottom: 38px;
 	}
 	.block h3 {
  font-size: 26px;
  margin: 35px 20px;
 	}
 	.button {
 		width: 270px;
 		height: 90px;
 		margin: 5px 160px 0 160px;
 	}
 	.button h4 {
 		font-size: 32px;
 		padding-top: 20px;
 	}
 	.footer {
 		font-size: 14px;
 	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}


