<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=1024, initial-scale=1, maximum-scale=6">
	<title>Document</title>
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
	<link rel="stylesheet" href="css/style.css" type="text/css" />
	<link rel="stylesheet" href="css/test.css" type="text/css" />
	<link rel="stylesheet" href="css/media.css" type="text/css" />
	<script defer src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	<script defer src="js/bootstrap.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="js/test.js"></script>
	<script src="js/script.js"></script>
</head>
<body>
<header>
	<div class="container"><img src="img/logo.png" alt=""></div>
</header>
<div class="top">
	<div class="container">
		<h1>знаете ли вы, что девушки <br> 
			<span class="line"></span>которые,<br>понимают основы стиля...</h1> <br>
		<ul>
			<li>на 75% уверенне в себе</li>
			<li>в 4 раза быстрее двигаются 
					по карьерной лестнице</li>
			<li>в 13 раз чаще улыбаются 
					и чувствуют себя счастливыми</li>
		</ul>
		<p>основатель Академии <br>
			Моды и Стиля <br>
			Анна Арсеньева</p>
		<img src="img/anna.png" alt="">
	</div>
</div>
<div class="middle">
	<div class="container">
		<h1>пройдите<br>УВЛЕКАТЕЛЬНЫЙ ТЕСТ<br>
		<span>абсолютно бесплатно</span></h1>
		<ul>
			<li><span>И узнайте, в каких вопросах стиля Вы - профи, a где стоит немного подтянуть знания, чтобы всегда выглядеть потрясающе.</span></li>
			<li><span>Проведите время с пользой и убедитесь,что быть стильной - просто! </span></li>
		</ul>
		<img src="img/line.png" alt="">
		<p>Именно  с  этой  целью  тест  был  создан командой Академии Моды и Стиля и Анной Арсеньевой - международным стилистом и автором 72 коллекций одежды, белья и аксессуаров.</p>
		<img src="img/line.png" alt="">
	</div>
</div>
<div class="bottom">
	<div class="container">
		<div class="present">
			Пройдите тест до конца и получите подарок от стилистов Академии Моды и Стиля
		</div>
		<div class="test" ng-app="myApp" ng-controller="myCtrl">
			<div class="title">
				<div class="number">{{Number[count]}}</div>
				<div class="district">{{District[count]}}</div>
				<div class="text">{{Text[count]}}</div>
			</div>
			<div class="content">
				<div id="item1" ng-click="toggle1()"><img src="img/thumb/{{Img[count][0]}}.jpg" alt=""><div class="active" ng-show="myVar1"></div></div>
				<div id="item2" ng-click="toggle2()"><img src="img/thumb/{{Img[count][1]}}.jpg" alt=""><div class="active" ng-show="myVar2"></div></div>
			</div>
			<a href="" id="next" ng-click="toggle3(count)" ng-init="count=0">{{Next}}</a>
			<div id="alert" ng-show="myVar3" ng-click="toggle4()">
				Выберите вариант ответа
			</div>
		</div>
	</div>
</div>
</body>
</html>