/*CUSTOM CSS*/
.header-clear {
    height: 75px;
}
.ico.bundle-1.pen, .ico.bundle-1.phone, .ico.bundle-1.vk, .ico.bundle-1.copyr, .ico.bundle-1.copyright, .ico.bundle-1.target, .ico.bundle-1.lamp,
.ico.bundle-1.bulb, .ico.bundle-1.pdf, .ico.bundle-1.chart, .ico.bundle-1.hdd, .ico.bundle-1.star, .ico.bundle-1.star.yellow, .ico.bundle-1.support {
    background-image: url("../images/icons1.png");
    background-repeat: no-repeat;
}
.ico {
    display: inline-block;
}
.ico.pen {
    background-position: 0 -4px;
    width: 20px;
    height: 14px;
    margin-bottom: -2px;
}

.ico.phone {
    background-position: 0 -40px;
    width: 20px;
    height: 16px;
    margin-bottom: -4px;
}

.ico.vk {
    background-position: 0 -78px;
    width: 20px;
    height: 14px;
    margin-bottom: -3px;
}

.ico.copyr, .ico.copyright {
    background-position: 0 -115px;
    width: 20px;
    height: 14px;
    margin-bottom: -3px;
}

.ico.target {
    background-position: 0 -152px;
    width: 20px;
    height: 14px;
    margin-bottom: -2px;
}

.ico.support {
    background-position: 0 -187px;
    width: 20px;
    height: 14px;
    margin-bottom: -2px;
}

.ico.lamp {
    background-position: -46px -4px;
    width: 20px;
    height: 15px;
    margin-bottom: -4px;
}

.ico.pdf {
    background-position: -46px -40px;
    width: 20px;
    height: 16px;
    margin-bottom: -3px;
}

.ico.chart {
    background-position: -46px -77px;
    width: 20px;
    height: 15px;
    margin-bottom: -2px;
}

.ico.hdd {
    background-position: -46px -114px;
    width: 20px;
    height: 16px;
    margin-bottom: -4px;
}
.no-top {
    margin-top: 0 !important;
}
h4 {
    margin-bottom: 25px;
}
.bg-custom-blue {
    background: #3ec3ef;
}
.social-slider-buttons a {
    font-size: 12px;
}
.icon-list li {
    margin-bottom: 20px;
}
.icon-list li a i {
    margin-left: 30px;
    margin-right: 30px;
}
.icon-list li a.color-green-light {
    color: #2abb67;
}
.dropdown {
    text-align: center;
    display: block;
}
.dropbtn {
    background: none;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    padding: 35px 0px;
    position: relative;
    width: 100%;
}
.dropbtn span {
}
.dropbtn i {
    color: #fff;
    font-size: 18px;
    position: absolute;
    right: 30px;
    top:50%;
    margin-top: -13px;
}
.dropdown-content {
    border-top: 2px solid #fff;
}
.dropdown-content a {
    font-size: 16px;
    color: #fff;
    padding: 15px 0px;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.about img{
    margin-bottom: 24px;
}
.contacts p.bold {
    margin-top: 45px;
    color: #000;
}
.contacts p:first-child() {
    margin-top: 0;
}
.contacts p {
    margin-bottom: 0px;
}
.contacts p i {
    margin-right: 25px;
    color: #000;
}
.preloader-logo {
    background-image: url(../images/logo-dark.png);
    background-size: 93px 50px;
    height: 50px;
    width: 93px;
}
.orange {
    background: #ff8f3c;
}
.light_green {
    background: #5fdcab;
}
.light_orange {
    background: #ffc232;
}
.green {
    background: #9bdb2b;
}
.usluga {
    padding: 30px 0px;
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
}
.usluga h4 {
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 20px;
}
.usluga p {
    font-size: 15px;
    margin-bottom: 0px;
}
.usluga p span {
    font-weight: bold;
    font-size: 18px;
}
.usluga a {
    display: inline-block;
    padding: 5px 35px;
    border: 1px solid #fff;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    margin-top: 20px;
}
.usluga a:active {
    background: rgba(255,255,255,0.2);
}
.portfolio-item {
    margin-bottom: 25px;
}
.portfolio-item p {
    font-size: 18px;
    margin-bottom: 0;
    color: #000;
    font-weight: bold;
}
.portfolio-item a {
    color: #ffa261;
}
.structure ul li:first-child {
    list-style: none;
    font-weight: bold;
    color: #000;
    margin-left: -20px;
}
.sidebar-light-clean .sidebar-logo {
    background-image: url(../images/logo-dark.png);
    background-repeat: no-repeat;
    background-size: 93px 50px;
    width: 93px;
    height: 50px;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
/*left side bar*/
.submenu .submenu-item {
    height: auto;
    margin-left: 50px;
    color: #666;
}
.submenu .submenu-item.color-green-light {
    color: #2ecc71;
}
.submenu .submenu-item i{
    margin-left: 0 !important;
    float: left;
    left: -30px;
    margin-top: -7px !important;
    font-size: 16px !important;
    opacity: 1 !important;
    text-align: center;
    padding-left: 7px;
}
.snap-drawer {
    width: 266px;
}
.map-fullscreen {
    margin-top: 0px;
}
.light_green_nav {
    border-right:3px solid #64ddae;
}
.green_nav {
    border-right:3px solid #2abb67; 
}
.light_blue_nav {
    border-right:3px solid #64cef1;
}
.blue_nav {
    border-right:3px solid #64adf1;
}
.orange_nav {
    border-right:3px solid #ff8f3c;
}
.sidebar-light-clean .menu-item em {
    padding-left: 20px;
}
.dark_orange_nav {
    border-right:3px solid #ff6a51;
}
.red_nav {
    border-right:3px solid #dd0012;
}