



/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.navbar-default .navbar-nav>li>a {
		padding: 8px 6px;
	}
	.header_search a {
		margin: 0;
	}
	.slogan div{
		margin-left: 50px;
	}
	.col {
		height: 220px;
	}
	.col:hover .col_desc {
	    margin-top: -180px;
	}
	.news {
		height: 217px;
	}
	.news:hover .news_desc {
	    margin-top: -180px;
	}
	.footer_nav ul:first-child {
	    margin-left: 0px;
	}
}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.navbar-default .navbar-nav>li>a {
		font-size: 13px;
	}
	.slogan div{
		margin: 0px;
	}
	.header_search {
	    margin-bottom: 20px;
	}
	.header_search a {
		float: right;
	}
	.header_search input:focus {
		width: 70%;
		z-index: 4;
	}
	header .btn {
		float: none;
	}
	.btn_head {
		text-align: center;
		padding-top: 20px;
	}
	#main_slider h1 {
		font-size: 40px;
		margin-top: 150px;
	}
	.col {
		height: 165px;
	}
	.col:hover .col_desc {
	    margin-top: -130px;
	}
	.col_desc h3 {
		font-size: 16px;
	}
	.news {
		height: 165px;
	}
	.news:hover .news_desc {
	    margin-top: -130px;
	}
	.news_desc h3 {
		font-size: 16px;
	}
	.footer_contacts {
		text-align: center;
	}
}
/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
	.head_contacts {
		text-align: center;
	}
	.owl-carousel {
		height: 300px;
	}
	#main_slider img {
		height: 300px;
	}
	#main_slider h1 {
		font-size: 30px;
		margin-top: 50px;
		width: 100%;
	}
	.col {
		width: 300px;
		height: 225px;
		margin: 20px auto;
	}
	.col_desc h3 {
		font-size: 25px;
	}
	.col:hover .col_desc {
	    margin-top: -180px;
	}
	.news {
		width: 490px;
		height: 232px;
		margin: 20px auto;
	}
	.news_desc h3 {
		font-size: 25px;
	}
	.news:hover .news_desc {
	    margin-top: -180px;
	}
	.footer_btn {
		text-align: center;
	}
	.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
	    margin-right: 5px;
	    margin-left: 5px;
	}
	.navbar-nav {
	    margin: 7.5px 5px;
	}
	.navbar-default .navbar-nav>li>a {
		font-size: 18px;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a {
	    color: #fff;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 500px) {
	.header_logo,.slogan {
		display: block;
		float: none;
		text-align: center;
		margin: 0 auto;	
	}
	.news {
		width: 300px;
		height: 145px;
		margin: 20px auto;
	}
	.news:hover .news_desc {
	    margin-top: -125px;
	}
	.footer_logo {
		display: block;
		width: 100%;
		float: none;
		text-align: center;
	}
	.footer_logo img {
		width: 100px;
	}
	.footer_nav {
		margin: 0 auto;
		display: inline-block;
	}
	.footer_nav ul:first-child {
		margin-left: 45px;
	}
}