@font-face {
	font-family: "Roboto";
	src:url(../fonts/Roboto-Medium.ttf);
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "Roboto";
	src:url(../fonts/Roboto-Bold.ttf);
	font-style: normal;
	font-weight: bold;
}
@font-face {
	font-family: "PTSans";
	src:url(../fonts/pt-sans.regular.ttf);
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "PTSans";
	src:url(../fonts/pt-sans.bold.ttf);
	font-style: normal;
	font-weight: bold;
}
body {
	margin: 0;
	padding: 0;
	min-width: 320px;
}
*:focus {
	outline: none !important;
}
h2 {
	font-family: Roboto;
	font-weight: bold;
	font-size: 30px;
	text-align: left;
	color: #ab1535;
	margin: 45px 0px;
	border-bottom: 1px solid;
    border-color: #d1d1d1;
    padding-bottom: 10px;
}
header {
	margin-top: 13px;
}
.header_logo img{
	padding-right: 25px;
	border-right: 3px solid #ab1535;
}
.slogan div{
	font-family: Roboto;
	font-weight: bold;
	color: #ab1535;
	font-size: 25px;
	margin-top: 65px;
}
.head_tel {
	font-family: Roboto;
	font-weight: bold;
	color: #ab1535;
	font-size: 30px;
	margin-top: 35px;
	line-height: 1.1;
}
.head_tel span {
	color: #525252;
}
.head_contacts a {
	font-family: Roboto;
	font-weight: normal;
	color: #525252;
	font-size: 14px;
	text-decoration: underline;
	display: block;
	margin-bottom: 10px;
}
.head_contacts p {
	font-family: Roboto;
	font-weight: normal;
	color: #525252;
	font-size: 16px;
	margin: 0;
}
.btn {
	font-family: Roboto;
	font-weight: normal;
	font-size: 18px;
	text-transform: uppercase;
	border-radius: 20px;
	padding: 7px auto;
	text-align: center;
	width: 200px;
	margin-bottom: 15px;
	box-shadow: 1.1px 1.6px 1px rgba(0, 0, 0, 0.24);
}
.btn-primary {
	background: #ab1535;
	border-color: #ab1535;
	color: #fff;
}
.btn-primary:hover {
	background: #fff;
	border-color: #fff;
	color: #ab1535;
}
.btn-default {
	background: #525252;
	border-color: #525252;
	color: #fff;
}
.btn-default:hover {
	background: #fff;
	border-color: #fff;
	color: #525252;
}
.header_search {
	margin-bottom: 20px;
}
.header_search a {
	font-family: Roboto;
	font-weight: normal;
	font-size: 12px;
	color: #555;
	margin-left: 30px;
	text-decoration: underline;
}
.header_search span {
	float: left;
	height: 15px;
	position: absolute;
	right: 200px;
	top: 6px;
	z-index: 3;
	font-size: 11px;
}
.header_search input {
	width: 60px;
	height: 16px;
	position: absolute;
	right: 155px;
	border-radius: 10px;
	top:3px;
	padding-left: 5px;
}
.header_search input:focus {
	width: 100%;
	z-index: 4;
}
header .btn {
	float:right;
}
.container.headernav {
	padding: 0;
}
.navbar-default {
    background-color: #474747;
    border:none;
    border-bottom: 2px solid;
    border-color: #ab1535;
    margin-bottom: 0;
    border-radius: 0;
    margin-top: 20px;
}
.navbar-default .navbar-nav>li>a {
	font-family: PTSans;
	font-weight: bold;
	font-size: 17px;
    color: #fff;
    padding: 8px 20px;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
	background: rgba(248,248,248,0.85);
	color: #474747;
}
.navbar-default .navbar-nav>li>a:after {
	content: "";
    display: inline-block;
    width: 1px;
    height: 36px;
    background-color: white;
    background-image: -webkit-linear-gradient(bottom, #474747 0%, #7f7f7f 49%, #474747 100%);
    background-image: -o-linear-gradient(bottom, #474747 0%, #7f7f7f 49%, #474747 100%);
    background-image: linear-gradient(to top, #474747 0%, #7f7f7f 49%, #474747 100%);
    position: absolute;
    top:0;
    right:0;
}
.navbar-default .navbar-nav>li:last-child>a:after {
	background: none;
}
.navbar-collapse {
	padding: 0;
}
.navbar {
	min-height: auto;
}
.dropdown-menu {
	background: rgba(248,248,248,0.85);
	color: #474747;
	font-family: PTSans;
	font-weight: bold;
	font-size: 17px;
	padding: 0;
	width: 100%;
	min-width: 285px;
	border:none;
}
.dropdown-menu>li>a {
	padding: 8px 20px;
	border-bottom: 1px solid;
    border-color: #ab1535;
}
/*HEADER END*/
#main_slider {
	position: relative;
}
#main_slider img {
	position: absolute;
	top:0;
	left:0;
	height: 100%;
	display: block;
	z-index: -1;
}
#main_slider h1 {
	font-family: Roboto;
	font-weight: bold;
	font-size: 63px;
	color: #fff;
	margin-top: 270px;
	margin-bottom: 40px;
	width: 70%;
}
#main_slider a{
	margin-bottom: 100px;
}
.owl-nav {
	position: absolute;
	top:50%;
	left:0;
	width: 100%;
	margin-top: -25px;
	padding: 0px 20px;
	display: none;
}
.owl-carousel:hover .owl-nav {
	display: block;
}
.owl-carousel:hover .owl-dots {
	display: inline-block;
}
.owl-prev, .owl-next {
	display: inline-block;
	width: 50px;
	height: 50px;
	background: #fff;
	border-radius: 30px;
	float: left;
	font-size: 30px;
	text-align: center;
	line-height: 1.5;
	color: #555;
	opacity: 0.7;
	box-shadow: 1.1px 1.6px 1px rgba(0, 0, 0, 0.24);
}
.owl-next {
	float: right;
}
.owl-prev:hover, .owl-next:hover {
	opacity: 1;
}
.owl-prev:active, .owl-next:active {
	opacity: 0.5;
}
.owl-dots {
	position: absolute;
	bottom:40px;
	left:50%;
	margin-left: -45px;
	display: none;
}
.owl-dot {
	display: inline-block;
	height: 10px;
	width: 10px;
	margin: 10px;
	background: #fff;
	border-radius: 10px;
}
.owl-dot.active {
	background: #555;
}
.col {
	position: relative;
	height: 267px;
	overflow: hidden;
	transition:0.3s;
	margin-bottom: 55px;
}
.col.empty_col {
	border:none;
}
.col img {
	width: 100%;
	border: 5px solid #555;
	position: relative;
	z-index: 5;
}
.col_desc {
	width: 100%;
	height: 100%;
	margin-top: -88px;
	transition:0.3s;
	position: relative;
	z-index: 6;
}
.col_desc h3 {
	font-family: Roboto;
	font-weight: bold;
	font-size: 24px;
	color: #3e3e3e;
	margin: 0;
	padding: 16px;
	padding-top: 20px;
	padding-bottom: 50px;
	transition:0.3s;
}
.col h3.white {
	color: #fff;
	text-shadow: 1.1px 1.6px 1px rgba(0, 0, 0, 0.34);
}
.col_desc p {
	color: #fff;
	display: block;
	height: 100%;
	padding: 0px 16px;
}
.col:hover img{
	border-color: #ab1535;
}
.col:hover .col_desc {
	margin-top: -230px;
	background: rgba(85,85,85,0.63);
}
.col:hover .col_desc h3 {
	padding-bottom: 16px;
	color: #fff;
}
.preim {
	text-align: center;
}
.preim p {
	font-family: Roboto;
	font-weight: bold;
	font-size: 20px;
	color: #555;
	margin-top: 40px;
}
#about p {
	font-family: PTSans;
	font-weight: normal;
	font-size: 14px;
	color: #555;
	margin-left: -15px;
}
#about img {
	float: right;
	width: 100%;
}
.process {
	background: #f5f5f5;
	padding: 0px 17px;
	margin-bottom: 20px;
}
.process_number {
	font-family: Roboto;
	font-weight: bold;
	font-size: 72px;
	color: #ab1535;
	vertical-align: middle;
    display: inline-block;
}
.process_text {
	font-family: Roboto;
	font-weight: normal;
	font-size: 18px;
	color: #555;
	display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.news {
	position: relative;
	height: 262px;
	overflow: hidden;
	transition:0.3s;
	margin-bottom: 20px;
}
.news img {
	width: 100%;
	border: 5px solid #555;
	position: relative;
	z-index: 5;
}
.news_desc {
	width: 100%;
	height: 100%;
	margin-top: -88px;
	transition:0.3s;
	position: relative;
	z-index: 6;
}
.news_desc h3 {
	font-family: Roboto;
	font-weight: bold;
	font-size: 24px;
	color: #fff;
	margin: 0;
	padding: 16px;
	padding-top: 20px;
	padding-bottom: 50px;
	transition:0.3s;
	background: rgba(85,85,85,0.63);
}
.news_desc p {
	color: #fff;
	display: block;
	height: 100%;
	padding: 0px 16px;
}
.news_desc p a {
	font-family: PTSans;
	font-weight: normal;
	font-size: 12px;
	color: #fff;
	text-decoration: underline;
}
.news_desc p a:hover {
	text-decoration: none;
}
.news:hover img{
	border-color: #ab1535;
}
.news:hover .news_desc {
	margin-top: -230px;
	background: rgba(85,85,85,0.63);
}
.news:hover .news_desc h3 {
	padding-bottom: 16px;
	color: #fff;
	background: none;
}
.read_more {
	text-align: right;
	margin-bottom: 30px;
}
.read_more a {
	font-family: PTSans;
	font-weight: normal;
	font-size: 12px;
	color: #555;
	text-decoration: underline;
}
.read_more a:hover {
	text-decoration: none;
}
footer {
	background: #f3f3f3;
	padding: 40px 0px;
}
.footer_logo img{
	width: 100%;
}
.footer_logo p {
	font-family: Roboto;
	font-weight: bold;
	font-size: 15px;
	color: #ab1535;
	text-align: center;
}
.footer_nav ul {
	float: left;
	display: inline-block;
	list-style: none;
	font-family: PTSans;
	font-weight: normal;
	font-size: 18px;
	padding: 0;
}
.footer_nav ul:first-child {
	margin-left: 55px;
}
.footer_nav ul a {
	color: #555;
}
.footer_nav ul:last-child {
	margin-left: 19px;
}
.footer_nav ul li {
	margin-bottom: 15px;
}
.footer_nav ul li:last-child {
	margin-bottom: 0;
}
footer .btn {
	margin-bottom: 30px;
}
.footer_contacts .head_tel {
	margin-top: 0;
}
.footer_contacts a {
	font-family: Roboto;
	font-weight: normal;
	color: #525252;
	font-size: 14px;
	text-decoration: underline;
	display: block;
	margin-bottom: 10px;
}
.footer_contacts p {
	font-family: Roboto;
	font-weight: normal;
	color: #525252;
	font-size: 16px;
	margin: 0;
}
.footer_search {
	position: relative;
}
.footer_search span {
	height: 15px;
	font-size: 11px;
	position: absolute;
	top:3px;
	left:3px;
	z-index: 3;
}
.footer_search input {
	width: 100%;
	height: 16px;
	right: 155px;
	border-radius: 10px;
	padding-left: 5px;
	position: absolute;
	left:0px;
	top:0px;
	padding-left: 15px;
}