/*.container {
	background: #ddd;
}*/
#black {
	display: block;
	width: 100vw;
	height: 100vh;
	position: absolute;
	background: #000;
	opacity: 0.8;
	z-index: 1000;
	top:0;
}
.test {
	background: url(../img/table.png) bottom center no-repeat;
	height: 540px;
	position: relative;
}
.title {
	display: inline-block;
	border:1px solid #373737;
	width: 720px;
	position: relative;
	left:50%;
	margin-left: -360px;
}
.number {
	display: block;
	width: 55px;
	height: 100px;
	background: #373737;
	font-size: 46px;
	color: #fff;
	font-family: PFDinDisplayPro;
	float: left;
	padding-top: 15px;
	text-align: center;
}
.district {
	display: inline-block;
	height: 100px;
	width: 20px;
	text-align: center;
	font-size: 15px;
	color: #373737;
	font-family: Gothic;
	writing-mode:tb-rl;
	float: left;
	-webkit-transform: rotate(180deg); 
	transform: rotate(180deg);
	padding: 0px;
	text-transform: uppercase;
}
.text {
	height: 100px;
	width: 500px;
	text-align: center;
	font-size: 18px;
	color: #373737;
	text-transform: uppercase;
	font-family: Roboto;
	padding-top: 20px;
	margin: 0 auto;
}
.content {
	width: 720px;
	position: relative;
	left:50%;
	margin-left: -360px;
}
#item1 {
	position: absolute;
	margin-top: 30px;
	/*margin-left: 100px;*/
}
#item2 {
	position: absolute;
	right:0;
	margin-top: 30px;
	/*margin-right: 100px;*/
}
.test a{
	position: absolute;
	bottom: 45px;
	left:50%;
	margin-left: -125px;
}
.content img {
	-webkit-box-shadow: 0px 0px 23px -4px rgba(0,0,0,0.61);
	-moz-box-shadow: 0px 0px 23px -4px rgba(0,0,0,0.61);
	box-shadow: 0px 0px 23px -4px rgba(0,0,0,0.61);
}
.content img:hover {
	outline: 4px solid #373737;
	cursor:pointer;
}
.active {
	position: absolute;
	display: block;
	width: 146px;
	height: 146px;
	background: url(../img/target.png);
	margin-left: 76px;
	margin-top: -220px;
	opacity: 0.8;
}
#alert {
	display: block;
	width: 300px;
	height: 50px;
	background: #ddd;
	position: absolute;
	text-align: center;
	padding-top: 15px;
	border-radius: 20px;
	top:50%;
	left:50%;
	margin-left: -150px;
	z-index: 1002;
}
#alert:hover {
	cursor: pointer;
}
#next {
	background: url(../img/button.png) center no-repeat;
	width: 250px;
	height: 39px;
	text-align: center;
}
a#next {
	color: #fff;
	font-family: Roboto;
	font-size: 16px;
	padding-top: 8px;
}
