@font-face {
	font-family:"Neo Sans Pro";
	src:url(fonts/NeoSansPro-Regular.ttf);
	font-weight: normal;
}
@font-face {
	font-family:"Neo Sans Pro";
	src:url(fonts/NeoSansPro-Bold.ttf);
	font-weight: bold;
}
@font-face {
	font-family:"Intro";
	src:url(fonts/intro.otf);
	font-weight: normal;
}
body {
	font-family: Neo Sans Pro;
	background: #f3f3f3;
}
h3 {
	margin: 0;
	text-align: center;
	font-weight: bold;
	color: #fff;
	font-size: 25px;
	text-transform: uppercase;
	padding-top: 25px;
	padding-bottom: 20px;
}
.divider {
	display: block;
	height: 27px;
	background: url(img/divider.png);
    background-repeat: no-repeat;
    background-position: center center;
}
/*start jumbotron*/
.jumbotron{
	padding: 0;
	background: url(img/header-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  margin-bottom: 0;
}
/*start navbar*/
.navbar {
	margin: 0;
}
.navbar-default {
	border:none;
	border-radius:0;
	background: url(img/navbg.png);
    background-repeat: repeat-x;
  height: 59px;
}
.navbar-brand {
	padding: 6px 0;
	margin-right: 135px;
}
.navbar-default .navbar-nav>li>a {
	font-size: 15px;
	text-transform: uppercase;
	color: #fff;
	padding-top: 28px;
	padding-bottom: 0;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
	color: #ffd40b;
	text-decoration: underline;
}
.navbar-default .navbar-right>li>a {
	font-size: 14px;
	color: #fff;
	padding-top: 14px;
	font-weight: bold;
	text-align: center;
}
.navbar-default .navbar-right>li>a img {
	padding-right: 12px;
}
.navbar-default .navbar-right>li>a .phonebtn {
	padding-top: 14px;
	display: block;
	padding-right: 0;
}
.navbar-default .navbar-toggle {
	border:1px solid #ffd40b;
	margin-top: 12px;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #ffd40b;
}
/*end navbar*/
.jumbotron-inner {
	background-color:  #a92f75;
  background-color: rgba(169, 47, 117, 0.5);
	margin: 40% 10% 10% 10%;
	padding: 45px;
}
.jumbotron-inner h2 {
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	font-size: 45px;
}
.jumbotron-inner p {
	color: #fff;
	font-size: 30px;
	margin: 0;
}
.jumbotron-inner img {
	width: 100%;
}
/*end jumbotron*/
/*start services*/
.services {
	background: url(img/services-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.thumbnail {
	background: none;
	border:none;
	text-align: center;
}
.thumbnail .caption {
	padding: 0;
}
/*.thumbnail img {
	width: 100%;
}*/
.thumbnail .caption h3 {
	font-weight: normal;
	font-size: 18px;
	padding: 23px 0px;
	margin: 0;
}
.thumbnail .caption .btn {
	font-size: 18px;
	color:#9a206b;
	padding: 6px 40px;
}
.thumbnail .caption .btn-primary {
	background-image: linear-gradient(to top, #f39200 0%, #ffed00 100%);
	border-radius: 5px;
	border:none;
}
/*end services*/

/*start principes*/
.principes h3 {
	color:#9a206b;
}
.principes .media {
	margin-bottom: 40px;
}
.principes .media-left {
	padding-right: 20px;
}
.principes .media-body {
	font-size: 18px;
	color: #9a206b;
}
.principes .media-body h4 {
	color: #1c0f63;
	font-size: 22px;
	margin-bottom: 23px;
}
/*end principes*/
/*start callback*/
.callback {
	background: #a92f75;
}
.callback h3 {
	padding: 22px 0px;
	color: #ffd40b;
}
.callback .navbar-form {
	margin-top: 0px;
	margin-bottom: 30px;
}
.callback .form-control {
	border: 1px solid #301323;
	border-radius: 10px;
	background: rgba(255,255,255,0.8);
	font-size: 20px;
	color: #7a7a7a;
}
.callback .btn {
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	color: #3a1b2d;
	padding: 3px 40px;
}
.callback .btn-default {
	background-color: yellow;
	background-image: linear-gradient(to top, #f39200 0%, #ffed00 100%);
	border-radius: 5px;
	border:none;
}
/*end callback*/

/*start palette*/
.palette {
	background: url(img/palette-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.palette p {
	color: #ffd40b;
	font-size: 20px;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 50px;
}
.palette .media img {
	width: 170px;
	height: 170px;
}
.palette .media-left {
	padding-right: 60px;
}
.palette .media-right {
	padding-left: 60px;
}
.palette .media-body.yellow {
	color: #ffd40b;
}
.palette .media-body {
	color: #fff;
	font-size: 16px;
}
.palette .media-body h4 {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 18px;
	padding-bottom: 24px;
	text-decoration: underline;
}
.palette .media .btn {
	font-weight: bold;
	text-decoration: underline;
	text-transform: uppercase;
	font-size: 18px;
}
.palette .media .btn-primary {
	background: none;
	border:none;
}
.mediavisible {
	display: none;
}
/*end palette*/

/*start technices*/
.technices {
	background: url(img/technices.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  text-align: center;
}
.technices h3 {
	color: #a92f75;
}
.technices h5 {
	font-size: 20px;
	color: #2e2372;
	text-transform: uppercase;
}
.technices .decor {
	background: url(img/decor.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.technices h4 {
	font-weight: bold;
	font-size: 20px;
	color: #9a206b;
	text-transform: uppercase;
	padding-top: 50px;
	padding-bottom: 10px;
}
.technices p {
	color: #2e2372;
	font-size: 16px;
	padding: 0 30px 30px 20px;
}
/*end technices*/

/*start clients*/
.clients {
	background: url(img/clients.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  position: relative;
}
.clients img {
	padding-bottom: 30px;
}
.clients-gallery {
	padding-bottom: 60px;
}
.carousel-control {
	background: none;
	width: 30px;
	height: 60px;
	font-size: 20px;
	line-height: 57px;
	top:45%;
	opacity:1;
}
.linkleft {
	left:2%;
}
.linkright {
	right: 2%;
	left: auto;
}
/*end clients*/

/*start portfolio*/
.portfolio {
	background: url(img/portfolio-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  position: relative;
}
.portfolio .col-sm-12 {
	padding: 0;
}
.portfolio .item img {
	width: 100%;
}
.portfolio-gallery {
	padding-top: 30px;
	padding-bottom: 80px;
}
/*end portfolio*/

/*start process*/
.process {
	position: relative;
}
.process h3 {
	color: #9a206b;
}
.process .selector {
	display:inline-block;
	width: 340px;
	height: 35px;
	background: #9a206b;
	border-radius: 10px;
	padding: 0;
	margin-bottom: 40px;
	text-align: center;
}
.process .selector a {
	display: inline-block;
	width: 168px;
	height: 31px;
	/*background-image: linear-gradient(to top, #2d226c 0%, #251e53 100%);*/
	border-radius: 10px;
	font-size: 18px;
	color: #fff;
	text-transform: uppercase;
	margin: 2px;
	padding-top: 3px;
}
.process .selector a:active, .process .selector .active {
	background-image: linear-gradient(to top, #2d226c 0%, #251e53 100%);
}
.process .selector a:first-child {
	margin-right: 0;
}
.process .selector a:last-child {
	margin-left: -4px;
}
.process h4 {
	color: #2d226c;
	font-weight: bold;
	font-size: 22px;
	margin: 20px 0px;
}
.process div p {
	color: #9a206b;
	font-size: 18px;
	margin-bottom: 30px;
	display: block;
	height: 150px;
	padding: 0 20px;
}
.process .container>p {
	color: #2d226c;
	text-transform: uppercase;
	font-size: 25px;
	margin-top: 90px;
	padding-bottom: 0px;
}
.process .col-sm-4 {
	padding: 0;
}
.process img {
	width: 100%;
}
/*end process*/
/*start garanty*/
.garanty {
	background: url(img/clients.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
   color: #fff;
   font-size: 22px;
   text-align: center;
   padding-bottom: 45px;
}
.garanty h4 {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 25px;
	margin-bottom: 50px;
	margin-top: 30px;
}
/*end garanty*/


/*start offer*/
.offer {
	text-align: center;
	padding-bottom: 50px;
	color: #2e2372;
	font-size: 25px;
}
.offer h1{
	color: #a92f75;
	font-size: 40px;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 50px;
	margin-bottom: 0;
}
.offer h2 {
	color: #a92f75;
	font-size: 30px;
	text-transform: uppercase;
	margin-top: 10px;
	margin-bottom: 50px;
}
.offer p {
	color: #a92f75;
	font-size: 30px;
	margin-top: 40px;
}
.offer p span {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 40px;
	display: block;
	padding-bottom: 80px;
}
.offer form p {
	color: #fdc500;
	font-size: 11px;
	text-align: center;
}
.offer form {
	background-color: #c70873;
	border-radius: 10px;
	text-align: left;
	padding: 40px 25px 30px 25px;
	width: 72%;
	margin-left: 60px;
}
.offer form label {
	font-size: 18px;
	color: #fff;
	padding-left: 30px;
	font-weight: normal;
}
.offer form input, textarea {
	border-radius: 15px;
	background: rgba(255,255,255,0.8);
}
textarea {
	font-size: 12px;
	color: #c3a7b7;
	width: 100%;
	height: 150px;
	padding: 15px;
}
.offer .btn {
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	color: #3a1b2d;
	padding: 3px auto;
	width: 100%;
}
.offer .btn-default {
	background-color: yellow;
	background-image: linear-gradient(to top, #f39200 0%, #ffed00 100%);
	border-radius: 5px;
	border:none;
}
.offer img {
	margin-top: 40px;
}

/*start countdown*/
#defaultCountdown {
	font-family: Intro;
	color: #2e2372;
}
.countdown_rtl {
	direction: rtl;
}
.countdown_holding span {
	color: #888;
}
.countdown_row {
	clear: both;
	width: 100%;
	padding: 0px 2px;
	text-align: center;
}
.countdown_show1 .countdown_section {
	width: 98%;
}
.countdown_show2 .countdown_section {
	width: 48%;
}
.countdown_show3 .countdown_section {
	width: 32.5%;
}
.countdown_show4 .countdown_section {
	width: 24.5%;
}
.countdown_show5 .countdown_section {
	width: 19.5%;
}
.countdown_show6 .countdown_section {
	width: 16.25%;
}
.countdown_show7 .countdown_section {
	width: 14%;
}
.countdown_section {
	display: block;
	float: left;
	font-size: 14px;
	font-family: Neo Sans Pro;
	font-weight: normal;
	text-align: center;
}
.countdown_section:last-child {
	color: #c70873;
}
.countdown_amount {
	font-family: Intro;
	font-size: 60px;
}
.countdown_descr {
	display: block;
	width: 100%;
	font-size: 10px;
}
/*end countdown*/


/*end offer*/


/*start payment*/
.payment {
	text-align: center;
	padding-bottom: 50px;
}
.payment h3 {
	color: #c70873;
}
.payment h4 {
	font-size: 20px;
	text-transform: uppercase;
	font-family: Intro;
	color: #c70873;
	margin-bottom: 50px;
}
.payment .btn {
	padding: 7px 40px;
}
.payment .btn-default {
	background-color: #fb0007;
	background-image: linear-gradient(to top, #e1e1e1 0%, white 100%);
	border: 1px solid #cdcdcd;
	border-radius: 6px;
	box-shadow: 0 2px 1px rgba(1, 1, 1, 0.14), inset 0 1px 0 white, inset 0 0 5px rgba(254, 254, 255, 0.75);
}
/*end payment*/

/*start contacts*/
.contacts {
	background: #2e2372;
	padding-bottom: 50px;
}
.contacts img {
	width: 100%;
	padding: 30px;
}
.contacts blockquote {
	margin-left: 130px;
}
.contacts blockquote p {
	font-size: 25px;
	color: #fff;
	font-weight: bold;
}
.contacts form {
	background-color: #c70873;
	border-radius: 10px;
	text-align: left;
	padding: 30px;
	width: 72%;
	margin-left: 60px;
}
.contacts .form-group {
	margin-bottom: 5px;
}
.contacts form h4 {
	font-size: 22px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
}
.contacts form label {
	font-size: 18px;
	color: #fff;
	padding-left: 30px;
	font-weight: normal;
}
.contacts form input {
	border-radius: 15px;
	background: rgba(255,255,255,0.8);
}
.contacts .btn {
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	color: #3a1b2d;
	padding: 3px 40px;
	margin-left: 40px;
}
.contacts .btn-default {
	background-color: yellow;
	background-image: linear-gradient(to top, #f39200 0%, #ffed00 100%);
	border-radius: 5px;
	border:none;
}
.contacts .btn-small {
	background-image: linear-gradient(to top, #85ac1c 0%, #009640 100%);
	border-radius: 5px;
	display: block;
	border:none;
	font-size: 16px;
	color: #3a1b2d;
	text-transform: uppercase;
	padding: 5px 10px;
	margin-bottom: 20px;
}
/*end contacts*/
/*start footer*/
.footer {
	background: url(img/footer.png);
    background-repeat: repeat-x;
  color: #fff;
  font-size: 16px;
  text-align: left;
  padding-top: 5px;
  margin-bottom: 50px;
}
.footer p {
	display: inline-block;
}
.footer a {
	color: #fff;
  font-size: 16px;
  float: right;
  display: inline-block;
  padding-top: 15px;
}
/*end footer*/