AddCharset utf-8 *
<IfModule mod_charset.c>
CharsetSourceEnc utf-8
CharsetDefault utf-8
</IfModule>

RewriteEngine on
Options +FollowSymlinks
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ air.php?page=$1 [L,QSA]

#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(?:([^/\.]+)[/]?)?$ air.php?catalog=$1 [L,QSA]
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^(?:([^/\.]+)/)?(?:([^/\.]+)\.html)+$ air.php?catalog=$1&page=$2 [L,QSA]

ErrorDocument 404 /404.html
AddDefaultCharset utf-8
#Order deny,allow
#deny from all
#Список IP через пробел, с которых доступ разрешен
#Allow from 92.126.197.240

php_value upload_max_filesize 80M
php_value post_max_size 80M
php_value max_execution_time 800
php_value max_input_time 800