
/* ---- grid ---- */

.grid1 {
  width: 100%;
  margin-bottom: 100px;
}

/* clearfix */
.grid1:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid1-sizer,
.grid1-item {
  width: 25%;
}

.grid1-item {
  /*height: 120px;*/
  float: left;
  position: relative;
  /*display: block;*/
}
.grid1-item a {
  display: none;
}
.grid1-item a:hover {
  text-decoration: none;
}

/*.grid1-item--width1 { width:  50%; }
.grid1-item--width2 { width:  25%; }

.grid1-item--height1 { height: 50%; }
.grid1-item--height2 { height: 25%; }*/

.grid1-item {
  width:  25%;
  height: 25%;
}

/*.grid-item--height1 { height: 440px; }
.grid-item--height2 { height: 220px; }*/

.grid1-item img{
  width: 100%;
}
.grid1-item a {
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.65);
  position: absolute;
  top:0;
  left:0;
  text-align: left;
  padding-top: 50%;
  -webkit-transition: 0.2s ease;
}
.grid1-item a span {
  background: rgba(109,109,109,0.72);
  font-family: Casper;
  font-weight: bold;
  font-style: italic;
  font-size: 24px;
  color: #fff;
  padding: 10px 5px;
}
.grid1-item a:hover {
  opacity: 0;
}