



/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.navbar-nav {
	     margin-left: 0px; 
	}
}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.navbar-nav {
    	margin-top: 110px;
	}
	.navbar-default .navbar-nav>li>a {
	    padding: 10px;
	}
	#portfolio a.more, #news a.more, #about a.more {
	    margin-left: 0px;
	    display: block;
	}
	.footernav ul {
	    padding-left: 50px;
	}
	.about_bg {
	    top: 160px;
	}
}
/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
	.head_content .btngroup {
	    right: 30px;
	}
	.navbar-toggle {
		margin-top: 75px;
    	margin-right: 40px;
	}
	.navbar-default .navbar-collapse {
    	background: url(../img/header_bg.jpg);
    	z-index: 10;
    	position: absolute;
    	width: 100%;
    	top: 155px;
	}
	.navbar-nav {
    	margin-top: 10px;
	}
	.navbar-right {
		position: relative;
    	top: 0px;
	}
	.navbar-right>li {
		float: left;
	}
	.leftside {
		margin-left: 60px;
	}
	.footernav ul {
	    padding-left: 50px;
	}
	.rightside {
	    float: none !important;
	    display: block;
	    text-align: center;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 540px) {
	.leftside {
		display: block;
		text-align: center;
		margin-left: 0;
	}
	.footernav {
		margin-left: 22%;
	}
}