



/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.navbar-nav {
	     margin-left: 0px; 
	}
	.typograf h2 {
		font-size: 20px;
	}
	.btngroup {
		right: 50px;
	}
	.grid-item--height1 { height: 300px; }
	.grid-item--height2 { height: 150px; }
	.grid-item--height3 { height: 250px; }
}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.navbar-nav {
    	margin-top: 110px;
	}
	.navbar-default .navbar-nav>li>a {
	    padding: 10px;
	}
	#portfolio a.more, #news a.more, #about a.more {
	    margin-left: 0px;
	    display: block;
	}
	.footernav ul {
	    padding-left: 50px;
	}
	.about_bg {
	    top: 160px;
	}
	.grid1-item a {
		padding-top: 40%;
	}
	.grid1-item a span {
		font-size: 16px;
	}
	.feedback {
		margin: 30px;
	}
	.media p {
		text-align: left;
		margin-top: 50px;
		margin-left: 300px;
	}
	.typograf img {
		margin-top: 30px;
		display: block;
		}
	p.headtext {
		font-size: 30px;
		padding: 0 30px;
	}
	.headtext img{
		width: 70%;
	}
	.btngroup {
		right: 20px;
	}
	.grid-item--height1 { height: 270px; }
	.grid-item--height2 { height: 130px; }
	.grid-item--height3 { height: 220px; }
	.da-thumbs li a div span {
	  top: 20%;
	}
	.index_title h2 span {
    	margin-left: 40%;
	}
}
/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
	.head_content {
		top: 40%;
		bottom: auto;
	}
	.head_content .btngroup {
	    right: auto;
	    bottom: -50px;
	    width: 100%;
	    font-size: 25px;
	    text-align: center;
	}
	.big_text {
		width: 95%;
	}
	.headtext {
		width: 95%;
	}
	.btn {
		font-size: 25px;
	}
	.navbar-default .navbar-toggle {
		margin-top: 75px;
    	margin-right: 40px;
	}
	.navbar-default .navbar-collapse {
    	background: url(../img/header_bg.jpg);
    	z-index: 10;
    	position: absolute;
    	width: 100%;
    	top: 155px;
	}
	.navbar-nav {
    	margin-top: 10px;
	}
	.navbar-right {
		position: relative;
    	top: 0px;
	}
	.navbar-right>li {
		float: left;
	}
	.leftside {
		margin-left: 60px;
	}
	.footernav ul {
	    padding-left: 50px;
	}
	.rightside {
	    float: none !important;
	    display: block;
	    text-align: center;
	}
	.btl_item_main {
		left: auto;
		margin-left: 0px;
	}
	.grid1-item {
	  width: 50%;
	  height: 50%;
	}
	.grid1-item a {
		padding-top: 50%;
	}
	.grid1-item a span {
		font-size: 24px;
	}
	.navbar-default1 .navbar-collapse {
	    background: #fff;
	    z-index: 10;
	}
	.navbar-default1 .navbar-nav1>li>a {
		color: #c60082;
	}
	#wrapper h1 {
		margin-bottom: 0;
	}
	.navbar-default1.navbar {
		top:-50px;
		margin-bottom: 0;
	}
	.portfolio_nav li {
		float: none;
	} 
	.infograf {
	    margin: 50px 0px;
	}
	.our_item {
		text-align: center;
	}
	.our_team img {
		width: 50%;
	}
	.our_hover {
		display: block;
		left: 50%;
		margin-left: -136px;
	}
	.feedback {
		margin: 30px 20px;
	}
	.media-left {
		display: block;
		margin: 0 auto;
		float: none;
	}
	.media p {
		text-align: center;
		margin: 10px;
	}
	.shoptext {
		padding-bottom: 50px;
	}
	.shoptext .btngroup {
		text-align: center;
	}
	.shoptext .btn {
		float: none;
	}
	.btngroup {
		top:-100px;
		left:0px;
		right: auto;
		width: 100%;
	}
	.grid-item--height1 { height: 230px; }
	.grid-item--height2 { height: 100px; }
	.grid-item--height3 { height: 170px; }
	.btngroupfooter .form-control.bigtext{
		width: 300px;
		height: 150px;
	}
	#bottom_nav {
		padding-top: 100px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 540px) {
	.leftside {
		display: block;
		text-align: center;
		margin-left: 0;
	}
	.head_content {
		top: 20%;
		bottom: auto;
	}
	.navbar-default .navbar-toggle {
    	margin-right: 10px;
	}
	.btl_head .btngroup {
	    margin-bottom: 0px;
	}
	.grid1-item a {
		padding-top: 40%;
	}
	.grid1-item a span {
		font-size: 14px;
	}
	#wrapper h1 {
		font-size: 35px;
		margin-top: 0px;
	}
	.grid1 {
	    margin-bottom: 20px;
	}
	.footernav ul {
	    text-align: center;
	}
	.infograf {
	    margin: 10px 0px;
	}
	.media {
		padding: 10px;
	}
	.shoptext p {
		font-size: 18px;
		margin-bottom: 20px;
	}
	.shoptext .btn {
		font-size: 16px;
	}
	.shoptext {
		padding: 10px;
		padding-left:25px;
	}
	.shoptext span img {
		position: absolute;
		top:0px;
		left:-44px;
		width: 40px
	}
	p.headtext {
		font-size: 25px;
		padding: 0 10px;
	}
	.btn {
		font-size: 16px;
	}
	.grid-item--width1 { width:  50%; }
	.grid-item--width2 { width:  50%; }
	.grid-item--width3 { width:  50%; }
	.grid-item--width4 { width:  50%; }
	.grid-item--width5 { width:  50%; }
	.grid-item--width6 { width:  50%; }


	.grid-item--height1 { height: 180px; }
	.grid-item--height2 { height: 90px; }
	.grid-item--height3 { height: 62px; }

	.da-thumbs li a div span {
	  font-size: 16px;
	  color: #fff;
	  top: 10%;
	  left: 10%;
	}
	.index_title {
		padding: 10px;
	}
	.index_title h2 {
		margin-bottom: 0;
	}
	.index_title .dropdown {
		margin-top: 40px;
	}
	.index_title a {
		left:0;
		display: block;
	}
	.news_content {
		margin-top: 30px;
	}
	.news_content h2{
		font-size: 26px;
	}
	img.about {
	    height: 100%;
	    right: auto;
	    left:0;
	    max-width: 300px;
	}
	#bottom_nav h2 {
		font-style: 12vw;
	}
	.btngroupfooter {
		display: block;
	}
	.btngroupfooter .form-control {
		margin: 0;
		width: 100%;
	}
	.index_title .dropdown {
		text-align: center;
	}
	#bottom_nav {
		padding-top: 50px;
	}
	.btngroup {
		top:-140px;
	}
	.index_title .form-control {
		margin-top: 50px;
		width: 90%;
	}
}