@font-face {
	font-family: "Casper";
	src:url(../fonts/Casper.ttf);
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "Casper";
	src:url(../fonts/Casper_Bold.ttf);
	font-style: normal;
	font-weight: bold;
}
@font-face {
	font-family: "Casper";
	src:url(../fonts/Casper_Italic.ttf);
	font-style: italic;
	font-weight: normal;
}
@font-face {
	font-family: "Casper";
	src:url(../fonts/Casper_Bold_Italic.ttf);
	font-style: italic;
	font-weight: bold;
}
@font-face {
	font-family: "ArialMT";
	src:url(../fonts/arial_rounded_mt_bold.TTF);
}
@font-face {
	font-family: "HelveticaReg";
	src:url(../fonts/Helvetica.ttf);
}
*:focus {
	outline: none !important;
}
body {
	//max-width: 1920px;
	min-width: 320px
}
.progress_bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 5px;
  background-color: #f00;
  z-index: 1000;
}
.breadcrumb {
	color: red;
	font-family: Casper;
	font-weight: normal;
	font-style: normal;
	text-align: left;
}
.dropdown-menu {
	background: none;
	border: none;
	color: #c60082;
	box-shadow: none;
	-webkit-box-shadow: none;
	width: 100%;
}
.dropdown-menu>li>a {
	color: #c60082;
	font-size: 14px;
    text-transform: uppercase;
    font-family: CasperBold;
    padding: 5px 15px;
    text-align: center;
}
.dropdown-menu>li>a:hover {
	background: none;
}
#header {
	display: block;
	background: url(../img/header_bg.jpg);
	background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 568px;
    position: relative;
}
#header_min {
	display: block;
	background: url(../img/header_bg.jpg);
	background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-bottom: 50px;
}
.navbar-default {
    background: none;
    border: none;
}
.navbar-default .navbar-nav>li>a {
	font-family: Casper;
	font-weight: bold;
	font-style: normal;
	font-size: 16px;
	color: #fff;
	text-transform: uppercase;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
	color: #fff;
	text-decoration: underline;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover  {
	background: none;
	color: #fff;
	text-decoration: underline;
}
.navbar-default .navbar-brand {
	color: #fff;
	font-size: 20px;
	font-family: Casper;
	font-weight: bold;
	font-style: normal;
	text-align: center;
}
.navbar-default a.navbar-brand:hover, .navbar-default a.navbar-brand:focus {
	color: #fff;
}
.navbar-default .navbar-brand img {
	margin-top: 35px;
	margin-bottom: 10px;
}
.navbar-nav {
	margin-top: 80px;
	margin-left: 50px;
}
.navbar-right li p {
	font-family: ArialMT;
	color: #fff;
	font-size: 33px;
}
.navbar-default .navbar-right>li>a {
	text-transform: none;
	font-family: Casper;
	font-weight: normal;
	font-style: italic;
	color: #fff324;
	font-size: 24px;
	text-decoration: underline;
}
.navbar-right {
	position: absolute;
	top:-40px;
	right:0px;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
p.headtext {
	width: 100%;
	margin: 0;
	font-size: 35px;
	color: #fff;
	font-family: Casper;
	font-weight: normal;
	font-style: italic;
	display: block;
	position: absolute;
	left:0;
	padding: 0px 100px;
	bottom: 20px;
}
.headtext img {
	width: 90%;
}
.headtext a {
	margin-top: 10px;
}
a.toservice {
	font-size: 50px;
	color: #fff;
	position: absolute;
	left:50%;
	margin-left: -25px;
	width: 50px;
	height: 50px;
	bottom:0;
	opacity: 0.7;
}
a.toservice:hover {
	opacity: 1;
}
.btngroup {
	background: none;
	position: absolute;
	right: 100px;
	text-align: center;
}
.btn {
	margin: 0px 4px;
	border-radius: 20px;
	padding: 10px 20px;
	font-size: 16px;
	font-family: Casper;
	font-weight: bold;
	font-style: normal;
	padding: 10px 25px;
	text-transform: uppercase;
}
.btn-primary {
	color: #9e4ecd;
	background-color: #fff;
	border:none;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:active:focus, .btn-primary:active:hover, .btn-primary:focus {
	color: #fff;
  background-color: #c60083;
}
.btn-default{
	color: #fff;
	background: none;
	border: 1px solid #fff;
}
.btn-default:hover, .btn-default:active, .btn-default:active:focus, .btn-default:active:hover, .btn-default:focus {
  color: #c60083;
	background: none;
	border: 1px solid #c60083;
}
.btn-default:active:focus {
	background: none;
    color: #fff;
    border-color: #fff;
    box-shadow: inset 0 3px 5px rgba(0,0,0,.4);
}
.index_title {
	display: inline-block;
	width: 100%;
	padding: 100px 70px 20px 70px;
}
.index_title_header {
	display: inline-block;
}
.index_title.graybg {
	background: #f3eef1;
	margin-bottom: -5px;
}
.index_title h2 {
	font-family: Casper;
	font-weight: normal;
	font-style: italic;
	font-size: 44px;
	color: #c60083;
	float: left;
	margin: 0;
	margin-bottom: 50px;
}
.index_title h2 span {
	margin-left: 70%;
}
.index_title a {
	font-family: Casper;
	font-weight: bold;
	font-style: normal;
	font-size: 16px;
	color: #c60083;
	position: relative;
	top: 16px;
	left:100px;
}
.index_title a span {
	padding-left: 10px;
}
.index_title .dropdown {
	text-align: right;
}
.index_title .btn-primary {
	background: none;
	border: 1px solid #c60083;
	color: #c60083;
}
.index_title .form-control {
    display: block;
    width: 50%;
    height: 50px;
    padding: 6px 12px;
    margin: 0px auto;
    font-family: Casper;
    font-weight: bold;
    font-style: normal;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 1.42857143;
    color: #c60083;
    background: none;
    background-image: none;
    border: 2px solid #c60083;
    border-radius: 20px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    cursor:pointer;
}
.news_content {
	font-family: Casper;
	font-weight: normal;
	font-style: italic;
	font-size: 22px;
	margin-bottom: 50px;
	text-align: left;
}
.news_content h2 {
	color: #000;
	margin: 0;
	margin-bottom: 30px;
}
.news_content p {
	color: #949494;
	margin: 0;
}
.vote {
	display: block;
	width: 100%;
	height: 220px;
	border:1px solid #c60083;
	border-radius: 10px;
}
p.about {
	margin: 40px 0px;
	font-family: Casper;
	font-weight: normal;
	font-style: italic;
	font-size: 22px;
}
img.about {
	position: absolute;
	height: 100%;
	width: auto;
	right:-100px;
}
#bottom_nav {
	background: url(../img/lime.jpg);
	background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
	position: relative;
	padding-top: 200px;
	padding-bottom: 100px;
}
#bottom_nav h2 {
	font-family: ArialMT;
	font-size: 7vw;
	color: #c60083;
	text-transform: uppercase;
}
#bottom_nav h3 {
	font-family: Casper;
	font-weight: bold;
	font-style: normal;
	color: #c60083;
	text-align: center;
	font-size: 36px;
	margin-bottom: 50px;
}
.btngroupfooter .form-control {
    display: block;
    width: 300px;
    height: 50px;
    padding: 6px 30px;
    margin: 10px;
    font-family: Casper;
    font-weight: bold;
    font-style: normal;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 1.42857143;
    color: #c60083;
    background: none;
    background-image: none;
    border: 2px solid #c60083;
    border-radius: 40px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.btngroupfooter .form-control.bigtext{
	width: 625px;
	height: 300px;
	resize:none;
	padding-top: 20px;
}


.form-control:-moz-placeholder           {color:#c60083;}/* Firefox 18- */
.form-control:-ms-input-placeholder      {color:#c60083;}
.form-control::-webkit-input-placeholder {color: #c60083; opacity: 1; transition: color 0.5s ease;}
.form-control::-moz-placeholder          {color: #c60083; opacity: 1; transition: color 0.5s ease;}
.form-control:-moz-placeholder           {color: #c60083; opacity: 1; transition: color 0.5s ease;}
.form-control:-ms-input-placeholder      {color: #c60083; opacity: 1; transition: color 0.5s ease;}

.btngroupfooter {
	display: inline-block;
}
.btngroupfooter button.form-control {
	background: #c60083;
	color: #fff;
}
.btngroupfooter button.form-control:hover {
	background: none;
	color: #c60083;
}
.btngroupfooter button.form-control:active {
	-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
	box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

input:-moz-placeholder           {color:#c60083;}/* Firefox 18- */
input:-ms-input-placeholder      {color:#c60083;}
input:focus::-webkit-input-placeholder {color: transparent; transition: color 0.5s ease;}
input:focus::-moz-placeholder          {color: transparent; transition: color 0.5s ease;}
input:focus:-moz-placeholder           {color: transparent; transition: color 0.5s ease;}
input:focus:-ms-input-placeholder      {color: transparent; transition: color 0.5s ease;}

#footer {
	background: #000;
	padding: 40px 0px;
}
#footer p {
	color: #fff;
	font-family: Casper;
	font-weight: bold;
	font-style: normal;
	font-size: 16px;
	margin: 20px 0px;
}
#footer span {
	color: #fff;
	font-size: 12px;
	opacity: 0.3;
}
.leftside {
	text-align: center;
	display: inline-block;
	vertical-align: top;
}
.footernav {
	display: inline-block;
	vertical-align: top;
}
.footernav ul {
	float: left;
	list-style: none;
	padding-left: 100px;
}
.footernav ul li {
	margin: 13px 0px;
}
.footernav ul a{
	color: #fff;
	font-family: Casper;
	font-weight: normal;
	font-style: italic;
	font-size: 16px;
	text-decoration: underline;
}
#footer a:hover, #footer .rightside a:hover {
	text-decoration: none;
}
.rightside {
	display: inline-block;
	text-align: right;
	vertical-align: top;
}
#footer .rightside p {
	font-family: ArialMT;
	color: #fff;
	font-size: 33px;
	margin: 0;
}
#footer .rightside p span{
	font-family: Casper;
	font-weight: normal;
	font-style: italic;
	font-size: 16px;
}
#footer .rightside a {
	font-family: Casper;
	font-weight: normal;
	font-style: italic;
	font-size: 16px;
	color: #c60082;
	text-decoration: underline;
}


#wrapper h1 {
	font-family: Casper;
	font-style: italic;
	font-weight: normal;
	margin: 40px 0px;
	font-size: 48px;
	color: #c60082;
	text-align: center;
}

.main_news .thumbnail {
	border:none;
}
.main_news .thumbnail img {
	width: 100%;
}
.main_news .thumbnail h3 {
	margin: 10px 0px;
	color: #6d6d6d;
	font-family: Casper;
	font-weight: normal;
	font-style: normal;
	font-size: 16px;
	text-transform: uppercase;
}
.main_news .thumbnail p {
	color: #000;
	font-family: Casper;
	font-weight: bold;
	font-style: italic;
	font-size: 22px;
}
.owl_item {
	position: relative;
}
.owl_item:hover .owl_active {
	outline: 4px solid #c60082;
}
.owl_item:hover .caption p {
	color: #c60082;
}
.breadcrumb {
    background:none;
}
#wrapper.full_news h1 {
	font-family: Casper;
	font-weight: bold;
	font-style: italic;
	font-size: 36px;
	color: #c60082;
	text-align: center;
}
.full_news .thumbnail {
	border:none;
}
.full_news .thumbnail h3 {
	font-family: Casper;
	font-weight: normal;
	font-style: normal;
	color: #6d6d6d;
	font-size: 22px;
	text-transform: uppercase;
}
.full_news .thumbnail p{
	font-family: HelveticaReg;
	color: #6d6d6d;
	font-size: 22px;
}
.full_news_nav {
	display: inline-block;
	margin-bottom: 50px;
	float: right;
}
.full_news_nav a {
	font-family: Casper;
	font-weight: bold;
	font-style: italic;
	color: #c60082;
	font-size: 22px;
}
.full_news_nav a span{
	text-decoration: underline;
	color: #000;
}
a.social {
	display: inline-block;
	width: 40px;
	height: 40px;
	background: transparent url(../img/social.png) no-repeat;
	background-position: left top;
	margin: 0px 10px
}
a.social:hover {
	background: transparent url(../img/social_active.png) no-repeat;
}
.full_news_nav a.social:nth-child(2) {
	background-position: -40px top;
}
.full_news_nav a.social:nth-child(3) {
	background-position: -80px top;
}
.btl {
	padding-bottom: 100px;
}
.btl_head {
	background: url(../img/btl/btl.jpg);
	background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: block;
    text-align: center;
    margin-bottom: 50px;
}
.btl_head .btlgroup {
	display: inline-block;
	margin: 0px auto;
	margin-top: 50vh;
	margin-bottom: 10vh;
}
.btl_head .btn-primary {
	background: none;
	color: #fff;
	text-decoration: underline;
}
.btl_head .btn-default {
	background: #fff;
	color: #c60082;
	
}
.btl_head .btn-primary span {
	padding: 0 10px;
	font-weight: normal;
	opacity: 0.9;
}
.btl_item {
	position: relative;
	display: block;
	height: 230px;
}
.btl_item_top {
	width: 98px;
	height: 89px;
	background-color: white;
	border: 1px solid #c2c2c2;
	border-radius: 10px;
	position: absolute;
	top:-40px;
	left:50%;
	margin-left: -49px;
}
.btl_item_top img {
	margin: 18px;
}
.btl_item_main {
	width: 100%;
	height: 167px;
	background-color: white;
	background-image: linear-gradient(to top, #f3cb00 0%, #ebebeb 0%, white 100%);
	border: 1px solid #c2c2c2;
	border-radius: 10px;
	position: absolute;
	top:45px;
	text-align: center;
}
.btl_item_main a {
	color: #000;
	font-family: Casper;
	font-style: italic;
	font-weight: normal;
	font-size: 25px;
	position: absolute;
	left: 0;
	bottom: 20px;
	width: 100%;
}
.btl_item:hover .btl_item_main a {
	text-decoration: none;
	color: #fff;
}
.btl_item:hover .btl_item_main {
	-webkit-box-shadow: inset 0px 2px 14px 2px rgba(0,0,0,0.17);
	-moz-box-shadow: inset 0px 2px 14px 2px rgba(0,0,0,0.17);
	box-shadow: inset 0px 2px 14px 2px rgba(0,0,0,0.17);
}
.btl_item:hover .btl_item_main.red {
	background: #da1b32;
}
.btl_item:hover .btl_item_main.aqua {
	background: #0dd6cf;
}
.btl_item:hover .btl_item_main.green {
	background: #0dd670;
}
.btl_item:hover .btl_item_main.yellow {
	background: #f3cb00;
}
.btl_item:hover .btl_item_main.pink {
	background: #d725a3;
}
.btl p, .about p {
	color: #000;
	font-size: 22px;
	padding-bottom: 20px;
}
.btl p span, .about p span {
	color: #c60082;
}

.portfolio_nav {
	list-style: none;
	display: inline-block;
	padding: 0;
}
.portfolio_nav li{
	float: left;
	margin: 20px 0;
	padding: 0;
}
.navbar-default1 .navbar-nav1>li>a {
	font-family: HelveticaReg;
	font-size: 24px;
	color: #000;
	padding: 10px;
	padding-bottom: 10px;
}
.navbar-nav1.portfolio_nav li a.active {
	border-bottom: 2px solid #c60082;
}
.navbar-nav1.portfolio_nav li a:hover,.navbar-nav1.portfolio_nav li a:focus {
	border-bottom: 2px solid #c60082;
	text-decoration: none;
}
.navbar-default1 .navbar-toggle .icon-bar {
    background-color: #c60082;
}
.navbar-default1 .navbar-toggle {
    border-color: #c60082;
}
.infograf {
	margin: 100px 0px
}
.infograf h2 {
	text-align: left;
	color: #c60082;
	font-family: Casper;
	font-weight: bold;
	font-style: italic;
	font-size: 30px;
}
.infograf p {
	text-align: left;
	color: #000;
	font-family: HelveticaReg;
	font-size: 18px;
	border-bottom: 1px solid #c60082;
}
.infograf img {
	float: left;
	margin-right: 20px;
}
p.thumb_text {
	font-family: HelveticaReg;
	font-size: 14px;
	width: 50%;
	float: left;
	border-bottom: 0;
}
.infograf .btn-default {
	color: #000;
	border-color: #c60082;
	margin-bottom: 5px;
}
.infograf .btn-default:hover {
	color: #c60082;
}
.infograf.btn-primary {
	color: #fff;
	background: #c60082;
	border: none;
	font-size: 24px;
}
.infograf.btn-primary:hover {
	text-decoration: underline;
}
.contacts {
	font-family: HelveticaReg;
	font-size: 30px;
	text-align: left;
}
.contacts span {
	margin-left: 50px;
	font-family: ArialMT;
}
.contacts span a {
	text-decoration: underline;
	color: #c60082;
}
.full_news_nav.contacts {
	float: none;
}
.about {
	position: relative;
	width: 100%;
}
.about_img {
	width: 100%;
	margin-bottom: 50px;
}
.about_thumb_text {
	font-family: HelveticaReg;
	font-size: 22px;
	font-style: normal;
	font-weight: normal;
	color: #c60082;
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}
.about_thumb_number {
	font-family: ArialMT;
	font-size: 60px;
	vertical-align: middle;
	padding-right: 10px;
	color: #c60082;
	display: inline-block;

}
.about_thumb p {
	font-family: HelveticaReg;
	font-size: 18px;
	color: #6d6d6d;
}
.our_team {
	text-align: left;
}
.our_team h2{
	font-family: Casper;
	font-style: italic;
	font-weight: normal;
	font-size: 30px;
	color: #000;
	text-align: center;
}
.our_team h3{
	font-family: Casper;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: #c60082;
	border-bottom: 2px solid #c60082;
	margin-top: 40px;
}
.our_team img {
	width: 100%;
}
/*.our_hover {
	display: block;
	width: 272px;
	height: 119px;
	background: url(../img/team/hover.png);
	padding-top:35px;
	padding-left: 20px;
	font-family: Casper;
	font-style: italic;
	font-weight: bold;
	font-size: 24px;
	color: #c60082;
	position: absolute;
	margin-top: 20px;
}
*/
.our_item {
	display: inline-block;
	position: relative;
	margin-bottom: 150px;
}
.our_hover {
	display: none;
	width: 272px;
	height: 119px;
	background: url(../img/team/hover.png);
	padding-top:35px;
	padding-left: 20px;
	font-family: Casper;
	font-style: italic;
	font-weight: bold;
	font-size: 24px;
	color: #c60082;
	position: absolute;
	margin-top: 20px;
	z-index: 10;
}
.our_hover span {
	color: #6d6d6d;
	font-family: HelveticaReg;
	font-size: 18px;
	font-style: normal;
	font-weight: normal;
}
.our_item:hover .our_hover {
	display: block;
}
.feedback {
	border-radius: 20px;
	background: #eee;
	padding: 30px;
	margin: 50px;
	text-align: center;
}
.feedback_img {
	border-bottom: 1px solid #c60082;
	display: inline-block;
	padding-bottom: 10px;
}
.feedback p {
	font-family: Casper;
	font-style: italic;
	font-weight: normal;
	font-size: 16px;
	color: #000;
}
p.feedback_title {
	font-size: 18px;
	color: #c60082;
}
.media {
	border: 0.5px solid #6d6d6d;
	border-radius: 10px;
	padding: 25px;
	margin: 50px auto;
}
.media h4 {
	font-family: Casper;
	font-style: italic;
	font-weight: normal;
	color: #c60082;
	font-size: 30px;
	margin-bottom: 10px;
}
.media {
	font-family: HelveticaReg;
	font-size: 18px;
	color: #000;
}
.media p {
	text-align: left;
	margin-top: 100px;
	margin-left: 300px;
}
.media a {
	font-family: Casper;
	font-weight: bold;
	font-style: normal;
	font-size: 22px;
	color: #000;
	text-transform: uppercase;
}
.media-left {
	width: 300px;
	display: block;
	float: left;
}
.media-left img{
	width: 100%;
}
.media .promo_more {
	text-align: left;
	display: none;
}
.media .promo_more p{
	margin: 20px;
}
.typograf {
	text-align: center;
}
.typograf h2 {
	background-color: #fff324;
	border-radius: 21px;
	font-family: Casper;
	font-weight: bold;
	font-style: italic;
	font-size: 24px;
	color: #000;
	padding: 10px 5px;
	text-align: center;
}
.typograf a h2 {
	background-color: #c60082;
	color: #fff;
}
.typograf ul {
	text-align: left;
}
.typograf a {
	font-family: Casper;
	font-weight: normal;
	font-style: normal;
	font-size: 16px;
	color: #6d6d6d;
	text-decoration: underline;
}
.typograf a:hover {
	text-decoration: none;
	color: #c60082;
}
.typograf img {
	margin: 20px auto;
	margin-top: 30%;
}
.main_news .owl-carousel {
	margin-top: 50px;
	margin-bottom: 50px;
}
.promocinema img{
	width: 100%;
}
.promocinema h2 {
	font-family: Casper;
	font-weight: normal;
	font-style: italic;
	font-size: 44px;
	color: #c60082;
	margin-top: 0px;
}
.promocinema p {
	font-family: Casper;
	font-weight: normal;
	font-style: italic;
	font-size: 22px;
	color: #000;
}
.promocinema .btn-primary {
	background: none;
	color: #000;
}
.promocinema .btn-default {
	background: #c60082;
	color: #fff;
}
.shoptext {
	display: block;
	background-color: white;
	border: 1px solid #626262;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.35);
	margin: 50px 0px;
	padding: 30px 40px;
	padding-bottom: 100px;
}
.promoshop {
	padding: 0px 40px;
}
.promoshop>img{
	width: 100%;
}
.promoshop h2 {
	font-family: Casper;
	font-weight: normal;
	font-style: italic;
	font-size: 44px;
	color: #c60082;
}
.shoptext p {
	font-family: Casper;
	font-weight: normal;
	font-style: italic;
	font-size: 22px;
	color: #000;
	position: relative;
	margin-bottom: 50px;
}
.shoptext .btngroup {
	display: block;
	right: 150px;
}
.shoptext .btn {
	float: right;
}
.shoptext .btn-primary {
	background: none;
	color: #000;
}
.shoptext .btn-default {
	background: #c60082;
	color: #fff;
}
.shoptext span img {
	position: absolute;
	top:-10px;
	left:-68px;
}
.promosmi {
	margin: 50px 0px;
	text-align: center;
}
.promosmi img {
	margin-bottom: 50px;
}
.promosmi h2{
	font-family: Casper;
	font-weight: normal;
	font-style: italic;
	font-size: 30px;
	color: #c60082;
	margin: 20px 0px;
	text-align: left;
}
.promosmi p {
	margin: 20px 0px;
	text-align: center;
}
.promosmi p a {
	font-family: Casper;
	font-weight: normal;
	font-style: italic;
	font-size: 16px;
	color: #c60082;
}
#promosmi_more_ch {
	display: none;
}
#promosmi_more_rad {
	display: none;
}
.promo_item {
	position: relative;
}
.promo_hover {
	display: none;
	width: 272px;
	background: url(../img/team/hover.png) no-repeat;
	background-size: 100% 100%;
	padding-top:35px;
	padding-left: 20px;
	font-family: Casper;
	font-style: italic;
	font-weight: bold;
	font-size: 24px;
	color: #c60082;
	position: absolute;
	z-index: 10;
	top: 110px;
	left:50%;
	margin-left: -136px;
}
.promo_hover span {
	color: #6d6d6d;
	font-family: HelveticaReg;
	font-size: 18px;
	font-style: normal;
	font-weight: normal;
}
.promo_hover a {
	text-decoration: underline;
	color: #c60082;
}
.promo_hover a:hover {
	text-decoration: none;
}
.promo_hover a span {
	color: #c60082;
}
.promo_item:hover .promo_hover {
	display: block;
}

.owl-carousel2 .owl-nav {
	top:-170px;
}
.owl-carousel1 .owl-nav {
	top:-40px;
}
.owl-carousel1 .owl-prev,.owl-carousel2 .owl-prev {
	left:-50px;
}
.owl-carousel1 .owl-next,.owl-carousel2 .owl-next {
	right:-50px;
}