

/* Medium Devices, Desktops */
@media only screen and (max-width : 1040px) {
    .header__nav-link {
        padding: 11px 10px;
    }
    .footer__left .social {
        margin-left: 0;
    }
    .footer__left .logo svg {
        margin-left: 0;
    }
}
/* Small Devices, Tablets */
@media only screen and (max-width : 920px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .header__nav-first > .header__nav-list:first-child .header__nav-link {
        padding-left: 5px;
    }
    .header__nav-first > .header__nav-list:last-child .header__nav-link {
        padding-right: 5px;
    }
    .header__nav-link {
        padding: 11px 6px;
    }
    .footer__nav-column:last-child {
        margin-left: 30px;
    }
    .footer__nav {
        margin-left: -85px;
    }
}
@media only screen and (max-width : 825px) {
    .header__nav-link {
        font-size: 14px;
    }

}

@media only screen and (max-width : 740px) {
    .header__nav-list {
        display: inline;
        text-align: left;
    }
    .header__nav--second {
        position: inherit;
        top:0;
    }
    .header__nav--second .header__nav-list {
        width:auto;
    }
    
    .navLG {
        display: none;
    }
    .navXS {
        display: block;
    }
    .footer__right {
        float: inherit;
    }
    .sxema {
        margin-left: 0;
        text-align: center;
    }
    .sxema p {
        width:100%;
    }
}



/* Extra Small Devices, Phones */
@media only screen and (max-width : 650px) {
    .footer__left {
        width: 100%;
        text-align: left;
    }
    .footer__left .logo {
        margin-left: 38px;
    }
    .footer__nav {
        margin-left: 0;
    }
    .header__top {
        display: none;
    }
}
@media only screen and (max-width : 450px) {
    .footer__nav-column:last-child {
        margin-left: 0px;
    }
}
